:root {
    --primaryLight: #d89a2e;
    --primaryDark: #31631a;
    --secondaryLight: #F8EBE6;
    --secondaryDark: #3C3C3B;
    --headerFont: 'Rafaella Signature', sans-serif;
    --textFont: 'Lato', sans-serif;
}

body {
    background-color: var(--secondaryLight);
    background-color: rgba(248, 235, 230, 0.25);
    color: var(--secondaryDark);
}

h1 {
    color: var(--primaryDark);
    font-family: var(--headerFont)
}

h2 {
    color: var(--primaryDark);
    font-family: var(--textFont);
    font-weight: bold;
    font-style: italic;
}

h3 {
    color: var(--primaryDark);
    font-family: var(--textFont);
    font-weight: lighter;
}

h4 {
    color: var(--primaryDark);
    font-family: var(--headerFont);
    font-weight: bold;
}

p {
    font-family: var(--textFont);
    font-weight: lighter;
}

/* Navbar */
.navbar {
    background-color: var(--primaryDark) !important;
    /* position: fixed;
    top: 0;
    right: 0; */
}

.nav-logo {
    position: flex;
    width: 85%;
    height: auto;
}
.navbar-nav {
    color: var(--primaryLight);
    pad: 10px 20px; 
    position: flex;
    justify-content: space-around;
    font-family: var(--textFont);
    gap: 20px;
}

.nav-about {
    background-color: var(--primaryLight);
    color: var(--secondaryDark);
    font-family: var(--headerFont);
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.nav-about:hover {
        background-color: var(--secondaryLight);
        color: var(--secondaryDark);
        opacity: 0.7;
    }
  
.nav-contact  {
        background-color: var(--primaryLight);
        color: var(--secondaryDark);
        font-family: var(--headerFont);
        font-weight: bold;
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;
    }
.nav-contact:hover {
        background-color: var(--secondaryLight);
        color: var(--secondaryDark);
        opacity: 0.7;
    }

.nav-signin {   
    background-color: var(--primaryLight);
    color: var(--secondaryDark);
    font-family: var(--headerFont);
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.nav-signin:hover {
    background-color: var(--secondaryLight);
    color: var(--secondaryDark);
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  .close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

.img-fluid {
    animation: fadeIn 2s ease-in forwards;
}

     @keyframes fadeIn {
         from {
        opacity: 0;
         }
         to {
        opacity: 1;
      }
}

/* Quiz section */
.form-select {
    font-family: var(--textFont);
    font-weight: lighter;
}

/* Results section */
.card-header {
    background-color: var(--primaryLight);
}

.card-body {
    font-family: var(--textFont);
    font-weight: lighter;
}


/* Button */
.btn-success {
    background-color: var(--primaryDark);
    border-color: var(--secondaryDark);
    color: var(--secondaryLight);
    font-family: var(--headerFont)
}

/* Video section */
#diet-video {
    width="560px" 
    height="560px"
    border: 0;
}

/* Hover card section */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.flip-card {
    perspective: 1000px;
    width: 250px;
    height: 200px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-front {
    background-color: var(--secondaryDark);
    color: var(--secondaryLight);
    text-align: center;
     font-family: var(--textFont);
     font-weight: bolder;
     font-size: 25px;
}

.flip-card-back {
    background-color: #6c757d;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

/* Add the flipped class for JavaScript interaction */
.flipped {
    transform: rotateY(180deg);
}

/* Footer */
footer {

}

/* Popup Newsletter */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.popup-logo {
    width: 100%;
    text-align: center;
}

.popup h2 {
    margin: 0 0 10px;
    text-align: center;
    
}

.popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background: #218838;
}

.popup .close-btn {
    position: flex;
    top: 5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: 5px solid #fff;
    margin: 10px 10px 0 0;
    font-size: 16px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex; /* Hidden by default */
}

